.page_content{
    

    >.content{
        border-top:1px solid silver;
        padding-top: 1rem;
        min-height: 50vh;
        width:80vw;
        margin:auto;
        margin-top:2rem;
        margin-bottom: 2rem;
        >h2{
            margin-bottom: 1rem;
            color:indianred;
            text-transform: uppercase;
        }
    }
}